.header-index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4caf50; 
    padding: 10px;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}

body {
    background-color: #93d595;
}

.botones-h_i {
    display: flex;
    gap: 15px;
}

.boton-h_i {
    background-color: #d2d2d240; 
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}

.boton-h_i:hover {
    background-color: #7d7d7d33;
    color:black;
}

.contenido-index {
    border: double;
    border-color: rgb(114, 114, 114);
    border-width: 7px;
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: white;
}

.footer-index {
    background-color: #4caf50; 
    padding: 10px;
    text-align: center; 
    color: white; 
    position: fixed; 
    bottom: 0; 
    width: 100%;
    margin-left: -10px;
}

.footer-contenido {
    margin-bottom: 0 auto; 
    font-size: medium;
}

.logo-f_i {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Add some space above the image */
}

.contact-form {
   background-color: #f9f9f9;
   border: 1px solid #ccc;
   padding: 30px;
   margin: 50px;
   border-radius: 5px;
   max-width: 450px;
}

.contact-form h2 {
    text-align: center;
}

.contact-form label {
     display: block;
     margin-bottom: 5px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.contact-form button:hover {
    background-color: #45a049;
}
.header-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4caf50; 
    padding: 10px;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}
.botones-h_c {
    display: flex;
    gap: 15px;
}
.boton-h_c {
    background-color: #d2d2d240; 
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}
.boton-h_c:hover {
    background-color: #7d7d7d33;
    color:black; 
}